<!-- navbar.html -->
<style>
    .navbar {
        background-color: #808080;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-links a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
        transition: color 0.3s;
    }

    .navbar-links a:hover {
        color: #f8f9fa; /* lighter shade of white */
    }
</style>

<div class="navbar">
    <div class="navbar-brand">PlateMate</div>
    <div class="navbar-links">
        <a href="{% url 'server_login' %}">Switch User</a>
        
        <!-- Add more links here as needed -->
    </div>
</div>
