{% load static %}

<style>
    .navbar {
        background-color: #333;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar-brand {
        color: #fff !important; /* Override any conflicting styles */
        text-decoration: none !important; /* Override any conflicting styles */
        margin-left: 20px;
        transition: color 0.3s;
        font-size: larger;
        font-weight: bold;
        display: flex;
        align-items: center; /* Align items vertically */
    }

    .navbar-brand:hover {
        color: #f8f9fa !important; /* lighter shade of white */
        text-decoration: underline !important; /* underline on hover */
    }

    .navbar-brand img {
        width: 65px; /* Reduced width */
        height: auto;
        margin-right: 10px; /* Space between logo and text */
    }

    .navbar-links {
        display: flex;
        align-items: center;
    }

    .navbar-links a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
        transition: color 0.3s;
        font-size: larger;
    }

    .navbar-links a:hover {
        color: #f8f9fa;
        text-decoration: underline; /* underline on hover */
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 150px;
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .dropdown-content a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #444;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<div class="navbar">
    <div class="navbar-brand">
        <img src="{% static 'img/Logo.png' %}" alt="Logo">
        <a href="{% url 'home'%}" style="color: #fff !important; text-decoration: none !important;">PlateMate</a>
    </div>
    <div class="navbar-links">
        <a href="{% url 'position_list' %}">Positions</a>
        <a href="{% url 'staff_list' %}">Staff</a>
        <a href="{% url 'list_floorplans' %}">Floorplans</a>
        <a href="{% url 'server_login' %}">Server Login</a>
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" style="color: #fff !important; text-decoration: none !important;">Customer Ordering</a>
            <div class="dropdown-content">
                <a href="{% url 'Customer_Home' %}?value=1">1</a>
                <a href="{% url 'Customer_Home' %}?value=2">2</a>
                <a href="{% url 'Customer_Home' %}?value=3">3</a>
                <a href="{% url 'Customer_Home' %}?value=4">4</a>
            </div>
        </div>
        <a href="{% url 'logout_confirmation' %}">Logout</a>
    </div>
</div>
