<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="customer_style.css" />
  </head>
  <body>
    <div class="ORDER">
      <div class="SIDE-PANNEL">
        <div class="COMPANY-NAME"><div class="middendorf-s">Middendorf’s</div></div>
        <div class="TIME"><div class="text-wrapper">TIME</div></div>
        <div class="recipt">
          <div class="recipt-info-title">
            <div class="QT-NAME-PRICE">
              QT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRICE
            </div>
          </div>
          <div class="total-price"><div class="div">Total: Amount</div></div>
          <div class="pay"><div class="text-wrapper-2">Order</div></div>
        </div>
      </div>
      <div class="ORDER-HERE">
        <div class="item-frame">
          <div class="ITEM">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$8.75</div>
              <div class="text-wrapper-5">Smoked Catfish Dip</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-2">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$12.50</div>
              <div class="text-wrapper-5">Fried Catfish Tacos</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-3">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$10.75</div>
              <div class="text-wrapper-5">Crawfish Popper</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-4">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$10.25</div>
              <div class="text-wrapper-5">Crawfish Cakes</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-5">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$9.50</div>
              <div class="text-wrapper-5">Shrimp Remoulade</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-6">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$11.75</div>
              <div class="text-wrapper-5">Peel & Eat Boiled Shrimp</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-7">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$11.75</div>
              <div class="text-wrapper-5">Barbequed Oysters</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-8">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$11.75</div>
              <div class="text-wrapper-5">Italian Oysters</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-9">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$11.75</div>
              <div class="text-wrapper-5">Fried Manchac Alligator Bites</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-10">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$9.50</div>
              <div class="text-wrapper-5">Duck Quesadillas</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-11">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$9.75</div>
              <div class="text-wrapper-5">Stuffed Mushrooms</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
          <div class="ITEM-12">
            <div class="item-image"><div class="text-wrapper-3">Item Image</div></div>
            <div class="item-name">
              <div class="text-wrapper-4">$8.95</div>
              <div class="text-wrapper-5">Crispy Fried Onion Rings</div>
            </div>
            <button class="add"><div class="text-wrapper-6">Add</div></button>
          </div>
        </div>
        <div class="top-frame">
            <button class="back-button" onclick="window.location.href = 'Customer_Home.html';">
                <div class="back-button-2">&lt;</div>
            </button>
            <button class="ai-chat">
                <div class="AI-CHAT">AI<br />CHAT</div>
            </button>
            <button class="call-server"><img class="CALL-SERVER" src="img/call-server.png" /></button>
            <div class="order-banner"><div class="text-wrapper-7">ORDER HERE</div></div>
            <button class="appetizers" onclick="window.location.href = 'Customer_Menu_Ordering.html';"><div class="text-wrapper-8">Appetizers</div></button>
            <button class="kids-sides" onclick="window.location.href = 'Customer_Kids_Sides_Order.html';"><div class="KIDS-SIDES">Kids&nbsp;&nbsp;&amp; Sides</div></button>
            <button class="entrees" onclick="window.location.href = 'Customer_Entree_Order.html';"><div class="text-wrapper-9">Entrees</div></button>
            <button class="dessert" onclick="window.location.href = 'Customer_Dessert_Order.html';"><div class="text-wrapper-9">Desserts</div></button>
            <div class="table-num"><div class="text-wrapper-10">#</div></div>
            <button class="drinks" onclick="window.location.href = 'Customer_Drinks_Order.html';"><div class="text-wrapper-11">Drinks</div></button>
        </div>
      </div>
    </div>
  </body>
</html>
    