<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" type="text/css"/>
        <link rel="stylesheet" href="styleguide.css" type="text/css"/>
        <link rel="stylesheet" href="customer_style.css" type="text/css"/>
    </head>
    <body>
        <div class="MAIN">
            <div class="div">
                <div class="SIDE-PANNEL">

                    <div class="COMPANY-NAME"><div class="middendorf-s">Middendorf’s</div></div>

                    <button class="MENU-LINK"><div class="text-wrapper">HOME</div></button>

	                <!ABOUT_US SCREEN BUTTON LINK>
                    <button class="ABOUT-US" onclick="window.location.href = 'Customer_About_Us.html';">
	  	                <div class="text-wrapper-2">ABOUT US</div>
	                </button>

	                <!ORDER SCREEN BUTTON LINK>
                    <button class="ORDER" onclick="window.location.href = 'Customer_Menu_Ordering.html';">
		                <div class="text-wrapper-3">ORDER</div>
	                </button>

                    <div class="LOGO"><div class="text-wrapper-4">Logo</div></div>

                    <div class="TIME"><div class="text-wrapper-5">TIME</div></div>

                    <button class="PAY-BUTTON" onclick="window.location.href = 'Customer_Receipt_Check.html';"><div class="text-wrapper-6">PAY</div></button>
                    <button class="STATUS-BUTTON"><div class="text-wrapper-7">Stat</div></button>

                </div>

                <div class="MAIN-MENU">
                    <div class="TABLE-NUM"><div class="text-wrapper-8">#</div></div>
                    <div class="MENU-ITEM-BANNER"><div class="text-wrapper-9">Welcome</div></div>
                    <button class="APPETIZEERS" onclick="window.location.href= 'Customer_App_Order.html';"><div class="text-wrapper-10">Appetizers</div></button>
                    <button class="ENTREE" onclick="window.location.href= 'Customer_Entree_Order.html';"><div class="text-wrapper-11">Entrees</div></button>
                    <button class="DRINKS" onclick="window.location.href= 'Customer_Drinks_Order.html';"><div class="text-wrapper-12">DRINKS</div></button>
                    <button class="KIDS" onclick="window.location.href= 'Customer_Kides_Sides_Order.html';"><div class="text-wrapper-13">KIDS</div></button>
                    <button class="SIDES" onclick="window.location.href= 'Customer_Kides_Sides_Order.html';"><div class="text-wrapper-14">Sides</div></button>
                    <button class="DESSERT" onclick="window.location.href= 'Customer_Dessert_Order.html';"><div class="text-wrapper-15">DESSERT</div></button>
                    <button class="AI-CHAT">
                        <div class="AI-chat">AI <br />Chat</div>
                    </button>
	                <button class="CALL-SERVER"><img class="call-server" src="img/call-server.png" /></button>
                </div>
            </div>
        </div>
    </body>
</html>
    