.MAIN {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .MAIN .div {
    background-color: #f5f5f5;
    width: 1438px;
    height: 1006px;
    position: relative;
  }
  
  .MAIN .SIDE-PANNEL {
    position: absolute;
    width: 393px;
    height: 1006px;
    top: 0;
    left: 1px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
  }
  
  .MAIN .COMPANY-NAME {
    position: absolute;
    width: 299px;
    height: 121px;
    top: 130px;
    left: 47px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .middendorf-s {
    position: absolute;
    width: 298px;
    height: 120px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .MENU-LINK {
    position: absolute;
    width: 212px;
    height: 98px;
    top: 345px;
    left: 90px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper {
    width: 214px;
    height: 98px;
    top: -1px;
    left: -1px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .ABOUT-US {
    position: absolute;
    width: 212px;
    height: 98px;
    top: 486px;
    left: 90px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper-2 {
    position: absolute;
    width: 209px;
    height: 94px;
    top: 1px;
    left: 2px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .ORDER {
    position: absolute;
    width: 212px;
    height: 103px;
    top: 627px;
    left: 91px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper-3 {
    position: absolute;
    width: 210px;
    height: 102px;
    top: 0;
    left: 1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .LOGO {
    height: 73px;
    top: 23px;
    left: 21px;
    background-color: #c02c2c;
    border-radius: 10px;
    position: absolute;
    width: 100px;
  }
  
  .MAIN .text-wrapper-4 {
    height: 72px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 100px;
  }
  
  .MAIN .TIME {
    top: 28px;
    left: 293px;
    background-color: #c02c2c;
    border-radius: 10px;
    position: absolute;
    width: 77px;
    height: 39px;
  }
  
  .MAIN .text-wrapper-5 {
    top: -1px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 77px;
    height: 39px;
  }
  
  .MAIN .PAY-BUTTON {
    position: absolute;
    width: 89px;
    height: 77px;
    top: 773px;
    left: 89px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper-6 {
    position: absolute;
    width: 87px;
    height: 75px;
    top: 0;
    left: 1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .STATUS-BUTTON {
    position: absolute;
    width: 89px;
    height: 77px;
    top: 773px;
    left: 211px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper-7 {
    position: absolute;
    width: 86px;
    height: 76px;
    top: 0;
    left: 2px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .MAIN-MENU {
    position: absolute;
    width: 1044px;
    height: 1006px;
    top: 0;
    left: 394px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .MAIN .TABLE-NUM {
    position: absolute;
    width: 52px;
    height: 46px;
    top: 21px;
    left: 966px;
    background-color: #c02c2c;
    border-radius: 50px;
  }
  
  .MAIN .text-wrapper-8 {
    position: absolute;
    width: 46px;
    height: 42px;
    top: 1px;
    left: 3px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .MENU-ITEM-BANNER {
    position: absolute;
    width: 996px;
    height: 124px;
    top: 126px;
    left: 22px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper-9 {
    width: 995px;
    height: 120px;
    top: 1px;
    left: 0;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .APPETIZEERS {
    position: absolute;
    width: 292px;
    height: 229px;
    top: 309px;
    left: 24px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper-10 {
    position: absolute;
    width: 292px;
    height: 230px;
    top: -2px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .ENTREE {
    position: absolute;
    width: 292px;
    height: 229px;
    top: 309px;
    left: 375px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper-11 {
    position: absolute;
    width: 291px;
    height: 223px;
    top: 2px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .DRINKS {
    top: 309px;
    left: 726px;
    background-color: #c02c2c;
    border-radius: 10px;
    position: absolute;
    width: 292px;
    height: 229px;
  }
  
  .MAIN .text-wrapper-12 {
    top: -1px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 292px;
    height: 229px;
  }
  
  .MAIN .KIDS {
    position: absolute;
    width: 292px;
    height: 229px;
    top: 597px;
    left: 24px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper-13 {
    position: absolute;
    width: 288px;
    height: 230px;
    top: -2px;
    left: 2px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .SIDES {
    width: 292px;
    top: 597px;
    left: 375px;
    background-color: #c02c2c;
    border-radius: 10px;
    position: absolute;
    height: 229px;
  }
  
  .MAIN .text-wrapper-14 {
    width: 290px;
    top: -1px;
    left: 1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    height: 229px;
  }
  
  .MAIN .DESSERT {
    position: absolute;
    width: 292px;
    height: 229px;
    top: 597px;
    left: 726px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .text-wrapper-15 {
    position: absolute;
    width: 287px;
    height: 223px;
    top: 2px;
    left: 2px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .AI-CHAT {
    position: absolute;
    width: 87px;
    height: 86px;
    top: 885px;
    left: 772px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .AI-chat {
    position: absolute;
    width: 80px;
    height: 82px;
    top: 1px;
    left: 4px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAIN .CALL-SERVER {
    position: absolute;
    width: 100px;
    height: 86px;
    top: 885px;
    left: 918px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .MAIN .call-server {
    position: absolute;
    width: 97px;
    height: 63px;
    top: 11px;
    left: 2px;
  }
  .ABOUT-US {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    min-width: 1438px;
    min-height: 1006px;
  }
  
  .ABOUT-US .SIDE-PANNEL {
    position: relative;
    width: 393px;
    height: 1006px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ABOUT-US .LOGO {
    display: flex;
    width: 100px;
    height: 73px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 19px;
    left: 18px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .text-wrapper {
    position: relative;
    width: 99px;
    height: 70px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .TIME {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 19px;
    left: 303px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .div {
    position: relative;
    width: 77px;
    height: 39px;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .STATUS-BUTTON {
    display: flex;
    width: 89px;
    height: 77px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 800px;
    left: 214px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .text-wrapper-2 {
    position: relative;
    width: 88px;
    height: 75px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .PAY-BUTTON {
    display: flex;
    width: 89px;
    height: 77px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 800px;
    left: 90px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .text-wrapper-3 {
    position: relative;
    width: 82px;
    height: 73px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .COMPANY-NAME {
    display: flex;
    width: 299px;
    height: 121px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 140px;
    left: 51px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .middendorf-s {
    position: relative;
    width: 300px;
    height: 119px;
    margin-left: -0.5px;
    margin-right: -0.5px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .MENU-LINK {
    display: flex;
    width: 212px;
    height: 103px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    position: absolute;
    top: 369px;
    left: 94px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .text-wrapper-4 {
    position: relative;
    width: 210px;
    height: 98px;
    margin-top: -6.5px;
    margin-bottom: -4.5px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .div-wrapper {
    display: flex;
    width: 212px;
    height: 103px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 512px;
    left: 94px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .text-wrapper-5 {
    position: relative;
    width: 211px;
    height: 98px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .ORDER {
    display: flex;
    width: 212px;
    height: 103px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 656px;
    left: 94px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .text-wrapper-6 {
    position: relative;
    width: 206px;
    height: 101px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .ABOUT-US-FRAME {
    position: relative;
    width: 1045px;
    height: 1006px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ABOUT-US .INFO-SECTION {
    display: flex;
    flex-direction: column;
    width: 996px;
    height: 553px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    position: absolute;
    top: 305px;
    left: 26px;
    background-color: #c02c2c;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ABOUT-US .text-wrapper-7 {
    position: relative;
    width: 933px;
    height: 493px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .TABLE-NUM {
    display: flex;
    flex-direction: column;
    width: 51px;
    height: 46px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 11px;
    left: 986px;
    background-color: #c02c2c;
    border-radius: 50px;
  }
  
  .ABOUT-US .text-wrapper-8 {
    position: relative;
    width: 49px;
    height: 43px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .AI-CHAT {
    display: flex;
    flex-direction: column;
    width: 87px;
    height: 86px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 904px;
    left: 816px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .AI-chat {
    position: relative;
    width: 80px;
    height: 82px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ABOUT-US .CALL-SERVER {
    display: flex;
    width: 100px;
    height: 86px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 904px;
    left: 922px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .call-server {
    position: relative;
    width: 96.64px;
    height: 63px;
  }
  
  .ABOUT-US .ABOUT-US-BANNER {
    display: flex;
    width: 996px;
    height: 124px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 134px;
    left: 26px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ABOUT-US .text-wrapper-9 {
    position: relative;
    width: 998px;
    height: 119px;
    margin-left: -1px;
    margin-right: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .ORDER {
    display: flex;
    height: 1006px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    width: 100%;
    min-width: 1438px;
  }
  
  .ORDER .SIDE-PANNEL {
    position: relative;
    width: 393px;
    height: 1006px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .COMPANY-NAME {
    display: flex;
    width: 299px;
    height: 121px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 78px;
    left: 49px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ORDER .middendorf-s {
    position: relative;
    width: 298px;
    height: 120px;
    margin-top: -0.5px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .TIME {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 16px;
    left: 310px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ORDER .text-wrapper {
    position: relative;
    width: 77px;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .recipt {
    position: absolute;
    width: 375px;
    height: 773px;
    top: 222px;
    left: 9px;
    background-color: #c02c2c;
    overflow: hidden;
    border: 3px solid;
    border-color: #000000;
  }
  
  .ORDER .recipt-info-title {
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 50px;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
  }
  
  .ORDER .QT-NAME-PRICE {
    position: relative;
    width: 369px;
    height: 53px;
    margin-top: -1px;
    margin-bottom: -2px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .total-price {
    display: flex;
    width: 388px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 721px;
    left: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #000000;
  }
  
  .ORDER .div {
    position: relative;
    width: 379px;
    height: 51px;
    margin-top: -0.5px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #f5f5f5;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .pay {
    display: flex;
    width: 75px;
    height: 32px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1px 0px;
    position: absolute;
    top: 730px;
    left: 290px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .ORDER .text-wrapper-2 {
    width: 65px;
    height: 31px;
    margin-top: -1.5px;
    color: #000000;
    font-size: 24px;
    position: relative;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .ORDER-HERE {
    position: relative;
    width: 1045px;
    height: 1002px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid;
    border-color: #0000001a;
  }
  
  .ORDER .item-frame {
    position: absolute;
    width: 1045px;
    height: 724px;
    top: 278px;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .ORDER .ITEM {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 13px;
    left: 13px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .item-image {
    display: flex;
    width: 218px;
    height: 98px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 14px;
    left: 12px;
    background-color: #000000;
  }
  
  .ORDER .text-wrapper-3 {
    position: relative;
    width: 218px;
    height: 101px;
    margin-top: -2.5px;
    margin-bottom: -0.5px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .item-name {
    position: absolute;
    width: 218px;
    height: 94px;
    top: 123px;
    left: 12px;
    border-radius: 10px;
  }
  
  .ORDER .text-wrapper-4 {
    position: absolute;
    width: 200px;
    height: 29px;
    top: 64px;
    left: 10px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .text-wrapper-5 {
    position: absolute;
    width: 200px;
    height: 65px;
    top: -1px;
    left: 10px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .add {
    display: flex;
    width: 134px;
    height: 37px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 222px;
    left: 54px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .ORDER .text-wrapper-6 {
    position: relative;
    width: 133px;
    height: 37px;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .ITEM-2 {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 13px;
    left: 272px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-3 {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 13px;
    left: 532px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-4 {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 13px;
    left: 791px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-5 {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 302px;
    left: 13px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-6 {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 302px;
    left: 272px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-7 {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 302px;
    left: 532px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-8 {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 302px;
    left: 791px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-9 {
    left: 791px;
    position: absolute;
    width: 242px;
    height: 266px;
    top: 591px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-10 {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 591px;
    left: 13px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-11 {
    position: absolute;
    width: 242px;
    height: 266px;
    top: 591px;
    left: 273px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .ITEM-12 {
    left: 532px;
    position: absolute;
    width: 242px;
    height: 266px;
    top: 591px;
    background-color: #c02c2c;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .ORDER .top-frame {
    position: absolute;
    width: 1044px;
    height: 278px;
    top: 0;
    left: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
  }
  
  .ORDER .back-button {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 4px;
    left: 10px;
    background-color: #c02c2c;
    border-radius: 25px;
  }
  
  .ORDER .back-button-2 {
    position: relative;
    width: 43px;
    height: 42px;
    margin-top: -2px;
    margin-left: -1.5px;
    margin-right: -1.5px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .ai-chat {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 5px;
    left: 823px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ORDER .AI-CHAT {
    position: relative;
    width: 71px;
    height: 49px;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .call-server {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 5px;
    left: 906px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ORDER .CALL-SERVER {
    position: relative;
    width: 58.95px;
    height: 31px;
  }
  
  .ORDER .order-banner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 62px;
    left: 30px;
    background-color: #c02c2c;
  }
  
  .ORDER .text-wrapper-7 {
    width: 977px;
    height: 52px;
    margin-top: -1px;
    color: #ffffff;
    font-size: 32px;
    position: relative;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .appetizers {
    display: flex;
    width: 186px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 132px;
    left: 12px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ORDER .text-wrapper-8 {
    position: relative;
    width: 172px;
    height: 132px;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .kids-sides {
    position: absolute;
    width: 186px;
    height: 132px;
    top: 132px;
    left: 426px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ORDER .KIDS-SIDES {
    position: absolute;
    width: 186px;
    height: 132px;
    top: -1px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .entrees {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 132px;
    left: 219px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ORDER .text-wrapper-9 {
    position: relative;
    width: 186px;
    height: 132px;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .dessert {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 132px;
    left: 633px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ORDER .table-num {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 7px;
    left: 989px;
    background-color: #c02c2c;
    border-radius: 25px;
  }
  
  .ORDER .text-wrapper-10 {
    position: relative;
    width: 44px;
    height: 42px;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ORDER .drinks {
    display: flex;
    width: 186px;
    height: 132px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 132px;
    left: 847px;
    background-color: #c02c2c;
    border-radius: 10px;
  }
  
  .ORDER .text-wrapper-11 {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }