<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="customer_style.css" />
  </head>
  <body>
    <div class="ABOUT-US">
      <div class="SIDE-PANNEL">
        <div class="LOGO"><div class="text-wrapper">Logo</div></div>
        <div class="TIME"><div class="div">TIME</div></div>
        <button class="STATUS-BUTTON"><div class="text-wrapper-2">Stat</div></button>
        <button class="PAY-BUTTON" onclick="window.location.href = 'Customer_Receipt_Check.html';"><div class="text-wrapper-3">PAY</div></button>
        <div class="COMPANY-NAME"><div class="middendorf-s">Middendorf’s</div></div>
        <button class="MENU-LINK" onclick="window.location.href = 'Customer_Home.html';"><div class="text-wrapper-4">Home</div></button>
        <button class="div-wrapper" onclick="window.location.href = 'Customer_About_Us.html';"><div class="text-wrapper-5">ABOUT US</div></button>
        <button class="ORDER" onclick="window.location.href = 'Customer_Menu_Ordering.html';"><div class="text-wrapper-6">ORDER</div></button>
      </div>
      <div class="ABOUT-US-FRAME">
        <div class="INFO-SECTION"><div class="text-wrapper-7">INFO ABOUT THE PLACE</div></div>
        <div class="TABLE-NUM"><div class="text-wrapper-8">#</div></div>
        <div class="AI-CHAT">
          <div class="AI-chat">AI <br />Chat</div>
        </div>
        <div class="CALL-SERVER"><img class="call-server" src="img/call-server.png" /></div>
        <div class="ABOUT-US-BANNER"><div class="text-wrapper-9">ABOUT US</div></div>
      </div>
    </div>
  </body>
</html>